


.start-page {
    width: 375px;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40%l
}

#start {
    width: 275px;
}

#pressing {
    width: 275px;
}


.start-page2 {
    width: 375px;
    padding: 0;
        height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-118px)
}

 

#presstoenter {
    display: flex;
    justify-content: center;
    align-items: center;

}
 
 
 
 
 
 
 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    
       #map {
           width: 375px;
           margin: 0 auto;
    
            height: 75%;
      }

.mapTag {
    font-family: europa, sans-serif;
            font-size: 10px;
            font-weight: bold;
            text-align: center;
          
}
#uAreHere {
    font-family: europa, sans-serif;
      font-size: 10px;
      font-weight: bold;
      text-align: center;
      color: red;
}

#placeTitle {
    font-family: europa, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
    text-transform: none;
}

      .infoInfo {
        font-family: europa, sans-serif;
          max-width: 375px;
          text-align: center;
          font-family: europa, sans-serif;
          text-transform: uppercase;
          color: white;
          font-weight: bold;
      }

      #vicinity {
          text-transform: none;
      }

     

      #goHere {

        color: white;
        background-color: rgba(255, 255, 255, 0);
        border: 2px white solid;
        font-weight: bold;
        font-family: europa, sans-serif;
        margin-bottom: 20px;
        padding: 5px;
      }

      #goHere:hover {
        background-color: rgba(255, 255, 255, 0.345);
    }

      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    

  

     
      h2 {
        font-size: 22px;
        margin: 0 0 5px 0;
      }
  
   
      #more {
        width: 100%;
        margin: 5px 0 0 0;
      }









body {
    font-family: europa, sans-serif;
}




.clicktoenter {
    margin-top: 25px;
    letter-spacing: 4px;

    font-size: 12px;
}

/* .playersContainer {
    border: 1px solid black;
    width: 50%;
} */

.playersRow {
    text-align: center;
  
    margin-bottom: 50px;
}

.waiting {
    margin-top: -10px;
    text-align: center;
}

.players {
    color: black;
    font-size: 16px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.5s ease;
}
.players:hover {
    color: white;
    font-size: 16px;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    border-radius: 50%;
}


.div-animate {
    transform: translateY(-1000px);
    transition: 2s;
}

/* .div-animate-in {
    transform: translateY(-1000px);
    transition: 2s;
} */



#playerOne:focus {
    transform: translateY(25px);
}

/* .lolmodal{
    width: 180px;
} */

.modal-sm {
    width: 180px;
    text-align: center;
    background-color: white;
    color: black;
    font-family: europa, sans-serif;
    border-radius: 15px;
    border: 2px solid black;
 
}

@media only screen and (max-width: 767px) {
    modal-sm {
        text-align: center;
    }
}

.okay {
    margin: 15px;
    color: white;
    background-color: black;
}

.okay:hover {
    text-align: center;
    color: white;
    border: 1px solid white;
}

.current-players-div {
    text-align: center;
    font-family: europa, sans-serif;
    margin-top: 50px;
}


.gameHead {
    text-align: center;
}

#topLogo {
    margin-top: 50px;
    text-align: center;
}





.cuisine-display {
    margin-top: -175px;
    text-align: center;
}



.cuisine-button {
    background-color: white;
    border: 1px solid black;
    margin: 10px;

    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: 20px;
    padding-right: 20px;
}

.cuisine-button:active {
    transform: scale(0.95);

}

.strike {
    background-color: rgba(205, 61, 29, 0.75);
    border: 1px solid black;
    margin: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: 20px;
    padding-right: 20px;
}

#upicked {
    width: 100px;
    justify-content: center;
    margin-bottom: 25px

}

#correct-answer-id {
    font-family: europa, sans-serif;
    font-size: 36;
    letter-spacing: 4px;
    font-weight: 600;
    padding-top: 15px;
    color: white;
    padding-bottom: 14px;
}

.winningCuisine {
    background-color:#B88B37;
    width: 375px; 
    margin-left: auto;
    margin-right: auto;
}

.foodImg {
    margin-top: -80 px;
}

.result-div {
    text-align: center;
    font-family: europa, sans-serif;
    text-transform: uppercase;
    margin-top: -450px;
    font-size: 24px;
    
}

.xo {
    background-color: white;
    color: black;
    border: 1px solid black;
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.xo-display {
    padding: 25px;
}


#o:hover {
    background-color: #B88B37;
    color: white;
    border: 1px solid black;
    text-decoration: none;

}

#x:hover {
    background-color: #CD3C1D;
    color: white;
    border: 1px solid black;
}

.gobackbtn {
    background-color: black;
    border: 1px solid white;
    padding: 5px;
    color: white;
}

.infoInfo {
    width: 500px;
    margin-bottom: 50px;
    height: 375px
}

.yes-btn {
    background-color: black;
    border: 1px solid white;
    padding: 5px;
    
}


.lastpage{
    text-align: center;
}

.done-btn {
    background-color: black;
    border: 1px solid white;
    padding: 5px;
    color: white;
}

#x2 {
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: 2px white solid;
    font-weight: bold;
    font-family: europa, sans-serif;
}